
body {background-color: black;}

img.fullscreen {
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

img.right {float: right;}

button {border: none;}

nav ul li.active a {
  color: #ef5350; /* materializecss red lighten-1 */
}

nav.nav-center ul {
  /* center the nav bar */
  transform: translateX(37%);
  webkit-transform: translateX(-37%);
}
nav.nav-center ul > li {
  font-family: 'Libre Baskerville' , serif;
  font-size: 26px;
}

nav.nav-font ul > li {
  font-family: 'Libre Baskerville' , serif;
  font-size: 26px;
}

.formatted {
  font-family: 'Libre Baskerville' , serif;
  font-size: 12px;
}
.bottomaligned {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.flex-item {
    width: 100px;
    height: 70px;
}

.fleximages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}


time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: absolute;
  width: 5em;
  height: 5em;
  border-style: solid;
  border-width: thin;
  border-color: #795548; /* materializecss brown */
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  font-size: 2.3em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

.card-small {
  width: 500px;
  height: 80px;
}

.card-font {
    font-size: 15px !important;
}

.hide {
  display:none;
}
